@font-face {
  font-family: RobotoRegular;
  src: url(../style/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../style/fonts/Roboto-Bold.ttf);
}

body {
  margin: 0;
  min-height: 100vh;
}

:root {
  --40-yellow: #cccc00;
  --30-yellow: #999900;
  --white: #ffffff;
  --30-white: #4d4d4d;
  --60-white: #999999;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  font-family: RobotoBold;
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  color: var(--white);
  background-color: var(--40-yellow);
}

.btnwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  background-color: var(--30-yellow);
}

.btn {
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  width: 120px;
  transition: 200ms;
  color: var(--white);
  background-color: var(--30-yellow);
}

.btn:hover {
  transform: scale(1.1);
}

.hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.wrapper {
  max-width: 1170px;
  margin: 20px auto;
}

.cardwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
  gap: 20px;
  
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bigtext {
  font-family: RobotoBold;
  font-size: 1.8rem;
}

.description {
  font-family: RobotoRegular;
  font-size: 1.5rem;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: RobotoRegular;
  min-height: 50px;
  margin-top: auto;
  background-color: var(--30-yellow);
}


.card {
  display: flex;
  width: 300px;
  height: 300px;
  cursor: pointer;
  border: 2px solid var(--30-yellow);
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 200ms;
}

.card:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.paraname {
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-top: auto;
  background-color: var(--40-yellow);
}